body{
    background-color: #17171A;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 35px;
    font-weight: bolder;
}

h2{
    color: #ffff;
    font-size: 20px;
    font-weight: bolder;
}

header {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #17171A;
}

.header-container {
    max-width: 120rem;
}

.header-container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5rem;
}

.header-container-title .span {
    color: #E07B67;
}

.header-container-title .h1 {
    margin-top: 6.4rem;
    color: #ffff;
}

#header-container-search {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 6rem !important;
}

#input{
    float:left;
    background-color:transparent;
    padding-left:35px;
    font-style:italic;
    font-size:18px;
    border: 2px solid #000;
    height:32px;
    width:560px;
    color: #17171A;
    border-radius: 15px;
}

#input:hover {
    outline: none !important;
    border: 0.1rem solid #ffff;
}

#btn-search {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    cursor: pointer;
}

.main-container {
    max-width: 120rem;
    margin: 0 auto;
}

.main-container .card {
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #E07B67;
    background: var(--black-light);
}

#icon {
    fill: #574ae801;
    stroke:  #E07B67;
    stroke-width: 7;
    transition: fill 0.3s;
    cursor: pointer;
  }
  
  #icon.filled,
  #icon:hover {
    fill:  #E07B67;
  }